<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <div id="input_win">
            <label for="Goal">Goal</label>
            <input input="goal" type="text" v-model="enteredValue">
            <button v-on:click="addGoal">submit</button>
        </div>
        <ul>
            <li v-for="goal in goals">{{goal}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>